USE [master]
GO
/****** Object:  Database [ControlEscolar]    Script Date: 1/16/2023 5:33:20 PM ******/
CREATE DATABASE [ControlEscolar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlEscolar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ControlEscolar.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ControlEscolar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ControlEscolar_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlEscolar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlEscolar]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarAlumno]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarAlumno]
@IdAlumno INT,
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Imagen VARCHAR(MAX)
AS
UPDATE [Alumno]
   SET [Nombre] = @Nombre
      ,[ApellidoPaterno] = @ApellidoPaterno
      ,[ApellidoMaterno] = @ApellidoMaterno
      ,[Imagen] = @Imagen
 WHERE IdAlumno = @IdAlumno

GO
/****** Object:  StoredProcedure [dbo].[ActualizarMateria]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarMateria]
@IdMateria INT,
@Nombre VARCHAR(50),
@Costo DECIMAL,
@Descripcion VARCHAR(200)
AS
UPDATE [Materia]
   SET [Nombre] = @Nombre
      ,[Costo] = @Costo
	  ,[Descripcion] = @Descripcion
 WHERE IdMateria = @IdMateria

GO
/****** Object:  StoredProcedure [dbo].[AgregarAlumno]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarAlumno]
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Imagen VARCHAR(MAX)
AS
INSERT INTO [Alumno]
           ([Nombre]
           ,[ApellidoPaterno]
           ,[ApellidoMaterno]
           ,[Imagen])
     VALUES
           (@Nombre
           ,@ApellidoPaterno
           ,@ApellidoMaterno
           ,@Imagen)

GO
/****** Object:  StoredProcedure [dbo].[AgregarAlumnoMateria]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarAlumnoMateria]
     @IdALumno INT,
	 @IdMateria INT
	 AS
     INSERT INTO AlumnoMateria(
	              IdAlumno,
				  IdMateria)
		    VALUES(
			      @IdAlumno,
				  @IdMateria)
GO
/****** Object:  StoredProcedure [dbo].[AgregarMateria]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarMateria]
@Nombre VARCHAR(50),
@Costo DECIMAL,
@Descripcion VARCHAR(200)
AS
INSERT INTO [Materia]
           (Nombre,
		   Costo,
		   Descripcion)        
     VALUES
           (@Nombre
           ,@Costo,
		    @Descripcion)

GO
/****** Object:  StoredProcedure [dbo].[AlumnoGetByApellido]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoGetByApellido]
@ApellidoPaterno VARCHAR(50)
AS 
	SELECT 
      alumno.[IdAlumno]
      ,alumno.[Nombre]
      ,alumno.[ApellidoPaterno]
	  ,alumno.[ApellidoMaterno]
	  ,alumno.[Imagen]
      
  FROM  [Alumno] 
	WHERE ApellidoPaterno = @ApellidoPaterno
GO
/****** Object:  StoredProcedure [dbo].[AlumnoMateriaMostrarPorAlumno]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoMateriaMostrarPorAlumno] 
@IdAlumno INT
AS
	SELECT AlumnoMateria.IdAlumnoMateria,
	AlumnoMateria.IdAlumno, 
	Alumno.Nombre AS NombreAlumno, 
	Alumno.ApellidoPaterno, 
	Alumno.ApellidoMaterno, 
	AlumnoMateria.IdMateria,
	Materia.Nombre As NombreMateria,
	Materia.Costo,
	'0' AS MateriaNombre 

	FROM AlumnoMateria
	INNER JOIN Alumno ON AlumnoMateria.IdAlumno = Alumno.IdAlumno
	INNER JOIN Materia ON AlumnoMateria.IdMateria = Materia.IdMateria
	WHERE Alumno.IdAlumno = @IdAlumno
GO
/****** Object:  StoredProcedure [dbo].[EliminarAlumno]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarAlumno]
@IdAlumno INT
AS
DELETE FROM [Alumno]
      WHERE IdAlumno = @IdAlumno

GO
/****** Object:  StoredProcedure [dbo].[EliminarAlumnoMateria]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarAlumnoMateria]
    @IdAlumnoMateria INT
    AS
    DELETE FROM AlumnoMateria
      WHERE IdAlumnoMateria = @IdAlumnoMateria
GO
/****** Object:  StoredProcedure [dbo].[EliminarMateria]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarMateria]
@IdMateria INT
AS
DELETE FROM [Materia]
      WHERE IdMateria = @IdMateria

GO
/****** Object:  StoredProcedure [dbo].[MateriasNoAsignadasAlAlumno]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriasNoAsignadasAlAlumno] 
@IdAlumno INT
	AS
	SELECT Materia.IdMateria,
	       Materia.Nombre AS MateriaNombre,
		   Materia.Costo,
		   0 AS IdALumnoMateria,
		   '0' AS ApellidoPaterno,
		   '0' AS ApellidoMaterno,
		    0 AS IdAlumno,
	       '0' AS NombreAlumno,
		   '0' AS NombreMateria,
		   '0' AS Descripcion,
		   '0' AS Nombre

		   FROM Materia 
		   where Materia.IdMateria NOT IN 
		   (SELECT AlumnoMateria.IdMateria
		     FROM AlumnoMateria
			 WHERE AlumnoMateria.IdAlumno = @IdAlumno)

GO
/****** Object:  StoredProcedure [dbo].[MostrarSoloUnAlumno]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarSoloUnAlumno]
@IdAlumno INT
     AS
	 SELECT 
	    IdAlumno,
	    Nombre,
	    ApellidoPaterno,
		ApellidoMaterno,
		Imagen
	 FROM Alumno
	 WHERE IdAlumno = @IdAlumno
GO
/****** Object:  StoredProcedure [dbo].[MostrarSoloUnaMateria]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarSoloUnaMateria] 
@IdMateria INT
     AS
	 SELECT
	 IdMateria,
	 Nombre,
	 Costo,
	 Descripcion,
	 '0' AS MateriaNombre
	 FROM Materia
	 WHERE IdMateria = @IdMateria
GO
/****** Object:  StoredProcedure [dbo].[MostrarTodasLasMaterias]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarTodasLasMaterias]
     AS
	 SELECT
	 IdMateria,
	 Nombre,
	 Costo,
	 Descripcion,
	 '0' AS MateriaNombre
	 FROM Materia
GO
/****** Object:  StoredProcedure [dbo].[MostrarTodosLosAlumnos]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[MostrarTodosLosAlumnos]
     AS
	 SELECT 
	    IdAlumno,
	    Nombre,
	    ApellidoPaterno,
		ApellidoMaterno,
		Imagen
	 FROM Alumno
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[IdAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](50) NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[Imagen] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AlumnoMateria]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoMateria](
	[IdAlumnoMateria] [int] IDENTITY(1,1) NOT NULL,
	[IdAlumno] [int] NULL,
	[IdMateria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlumnoMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Materia]    Script Date: 1/16/2023 5:33:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Costo] [decimal](18, 0) NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

SET IDENTITY_INSERT [dbo].[Alumno] OFF
SET IDENTITY_INSERT [dbo].[AlumnoMateria] ON 

INSERT [dbo].[AlumnoMateria] ([IdAlumnoMateria], [IdAlumno], [IdMateria]) VALUES (1, 1, 1)
INSERT [dbo].[AlumnoMateria] ([IdAlumnoMateria], [IdAlumno], [IdMateria]) VALUES (2, 1, 2)
INSERT [dbo].[AlumnoMateria] ([IdAlumnoMateria], [IdAlumno], [IdMateria]) VALUES (4, 2, 1)
SET IDENTITY_INSERT [dbo].[AlumnoMateria] OFF
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Costo], [Descripcion]) VALUES (1, N'Español', CAST(200 AS Decimal(18, 0)), N'FDFDSF')
INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Costo], [Descripcion]) VALUES (2, N'Matematicas', CAST(250 AS Decimal(18, 0)), N'sadsds')
INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Costo], [Descripcion]) VALUES (3, N'Ingles', CAST(300 AS Decimal(18, 0)), N'dfgdfg')
SET IDENTITY_INSERT [dbo].[Materia] OFF
ALTER TABLE [dbo].[AlumnoMateria]  WITH CHECK ADD  CONSTRAINT [AlumnoMateriaAlumno] FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumno] ([IdAlumno])
GO
ALTER TABLE [dbo].[AlumnoMateria] CHECK CONSTRAINT [AlumnoMateriaAlumno]
GO
ALTER TABLE [dbo].[AlumnoMateria]  WITH CHECK ADD  CONSTRAINT [AlumnoMateriaMateria] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materia] ([IdMateria])
GO
ALTER TABLE [dbo].[AlumnoMateria] CHECK CONSTRAINT [AlumnoMateriaMateria]
GO
USE [master]
GO
