@model Modelo.Materia
@{
    ViewBag.Title = "Index";
}

<br />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js//MateriaCRUD.js"></script>
<br />

<div class="resume-section-content">

        <h2 class="text-center"> Listado de <span class="text-primary"> Materias </span> </h2>

    <div class="container">
        <br />
        <hr />
        <div class="row">
            <div class="col" align="center">
                <a><input type="submit" value="Detalle de Materias " class="btn btn-secondary col-md-6" id="MI" onclick="ColorMI()" /></a>
            </div>
        </div>
    </div>

    <section class="resume-section" id="MDescripcion" style="display:none">
        <div class="resume-section-content">
            <h2 class="mb-5">Descripcion de materias </h2>


            @foreach (Modelo.Materia materia in Model.Materias)
            {

                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0"> @materia.Nombre</h3>
                        <div class="subheading mb-3"> Semestral </div>
                        <p> @materia.Descripcion </p>
                    </div>

                    <div class="flex-shrink-0"><span class="text-primary"> Costo: $ @materia.Costo </span></div>
                </div>

            }
        </div>
    </section>

        <div class="row">
            <div class="col-auto ms-auto">
                <button class="btn btn-primary" onclick="Modal(null)" style="color: ivory">
                    <i class="fa-solid fa-book fa-beat"></i>
                    Agregar Materia
                </button>
            </div>
        </div>

        <table id="tblContent" class="table table-hover" border="1">
            <thead>
                 <tr>
                        <th class="text-center" scope="col">Editar</th>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Costo</th>
                        <th class="text-center" scope="col">Descripcion</th>
                        <th class="text-center" scope="col">Eliminar</th>
                    </tr>

            </thead>
            <tbody> </tbody>
        </table>

</div>

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Formulario de <span class="text-primary">Materias</span></h2>

                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-icon"><i class="fa-solid fa-users-rectangle fa-2x" style="color: #efa72a"></i></div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-xl-7">
                                        <!-- to get an API token!-->
                                        @* @using (Html.BeginForm("Formulario", "Materia", FormMethod.Post, new { enctype = "multipart/form-data", @id = "contactForm" }))
                                        {*@

                                        <div class="form-floating mb-3" style="display:none">
                                           
                                                <input type="text" class="form-control" id="txtIdMateria" placeholder="Id Materia" readonly />
                                            <label for="name">IdMateria</label>
                                            
                                        </div>
                                        <!-- Nombre -->
                                        <div class="form-floating mb-3">
                                      
                                                <input type="text" class="form-control" id="txtNombre" placeholder="Nombre" />
                                                <label for="name">Nombre</label>
                                           
                                        </div>
                                        <!-- Costo -->
                                        <div class="form-floating mb-3">

                                                <input type="text" class="form-control" id="txtCosto" placeholder="Costo" />
                                                <label for="email">Costo $ </label>
                                        </div>
                                        <!-- Descripcion -->
                                        <div class="form-floating mb-3">
                                           
                                                <input type="text" class="form-control" id="txtDescripcion" placeholder="Descripcion" />
                                                <label for="phone">Descripcion</label>
                                            
                                        </div>

                                        <button class="btn btn-primary" id="submitButton" type="submit" data-bs-dismiss="modal" onclick="Actualizar()">
                                                <i class="fa-solid fa-check-to-slot"></i>

                                                Agregar
                                            </button>
                                            <button class="btn btn-secondary" data-bs-dismiss="modal" onclick="GetAll()">
                                                <i class="fa-regular fa-rectangle-xmark"></i>

                                                Cerrar
                                            </button>
                                      @*  }*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts
    {
   
    <script src="~/lib/jquery/dist/jquery.js"></script>
    
    <script type="text/javascript">

        function Modal(IdMateria) {
            if (IdMateria != null) {

                $.ajax({
                    url: 'http://localhost:5051/Materia/Formulario',
                    data: { IdMateria: IdMateria },
                    success: function (result) {

                        $('#txtIdMateria').val(result.idMateria);
                        $('#txtNombre').val(result.nombre);
                        $('#txtCosto').val(result.costo);
                        $('#txtDescripcion').val(result.descripcion);

                        $('#portfolioModal1').modal('show');

                    }

                })


            } else {
                $('#portfolioModal1').modal('show');
            }

        }
        
    </script>


    <script type="text/javascript">

        function ColorMI() {
            $('#MD').removeClass('btn-primary');
            $('#MD').addClass('btn-secondary');
            $('#MI').removeClass('btn-secondary');
            $('#MI').addClass('btn-primary');
            $('#MDescripcion').hide();
            $('#skills').show();
        }
       
    </script>

}